.product-description{
   background-color:white;
   margin: 6rem auto;
   padding: 4rem;
   width: 60%;
   
   text-align: center;

}

.image-container{
    
    width: max-content;
    height: 400px;
    margin:auto;
}

.image-desc{
    max-height: 100%;
}

.price-des{
    text-align: center;
}
.title-des{
    text-align: center;
}
.checkout-btn{
    position: relative;
    width: 110px;
    background-color: rgba(73, 188, 223, 0.87);
    transition: 0.1s;
}
.checkout-btn:hover{
    transform: scale(1.1);
}
@media screen and (max-width:800px){
    .product-description{
        background-color:white;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 100vw;
        font-size: 10px;
        text-align: center;
        
     
     }
     
     .image-container{
         height: 200px;
     }
     
     .image-desc{
         max-height: 80%;
     }
     
    
     .checkout-btn:hover{
         transform: scale(1.1);
     }
}