.signup-page{
    background-image: url(../Home/black-friday-elements-assortment.jpg);
    background-size:cover;
    padding-bottom: 400px;
}

.signup-container{
    border-radius: 6px;
    background-color:aliceblue;
    width: 500px;
    height: fit-content;
    margin: auto;
    position: relative;
    top: 180px;
    text-align: center;
    padding: 60px 0;
    
}