.cart-page{
    background-image: url(../Home/surprised-girl-pink-culottes-posing-with-trolley-full-multi-colored-packages-with-new-clothes.jpg);
    background-size: cover;
    height: 100vh;
    padding: 100px;
    
    display: block;
    
    justify-content: center;
    align-items: center;
    
    overflow: auto;
    overflow-x: scroll;
    
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: max-content;
    margin: 10px auto;
    padding: 30px;
    background-color: white;
    
}
.cart-item:hover{
      box-shadow: 2px 2px 5px gray;

  }
  
  .image {
    width: 150px;
    
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  
  .item-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .item-price {
    font-size: 18px;
  }
  
  .item-quantity {
    display: block;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  .quantity-selector{
    display: flex;
    gap:3px;
    justify-content: center;
    align-items: center;
  }
  .input{
    width: 30px;
  }
  .button{
    width: 25px;
  }
  
