.cart-page{
    background-image: url(../Home/surprised-girl-pink-culottes-posing-with-trolley-full-multi-colored-packages-with-new-clothes.jpg);
    background-size: cover;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    
    
}

