.product-card{
    width: 80%;
    background-color:white;
    position: inherit;
}


.product-row{
    padding: 10px;
}

.image-col{
    background-color: rgb(255, 255, 255);
}

.image{
   max-width: 100%;
}
.description-col{
    color: rgb(0, 0, 150);
    padding: 25px;
}

#rating{
    border-radius: 5px;
    background-color: rgb(0, 173, 0);
    padding-inline: 2px;
    color:white
}

.price{
    text-align: center;
    padding:  50px 0;
}
.add-to-cart{
    border-radius: 4px;
    background-color: rgb(55, 108, 223);
    color: white;
}


